.otp-container{
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 0px;

}

.otp-digits{
    margin-right: 20px !important;
    padding: 15px !important;
    text-align: center; 
    border: 1px solid #cecece;  
}

.verification{
    padding-left: 20px;
    padding-top: 20px;
    color: rgba(10, 9, 9, 0.6);
}

.line-break{
    padding-left: 100px;
}

.domain{
    color: #ED5901;
}








